body {
    background-color: rgba(95, 158, 160, 0.39);
    margin: 0;
}
.wrapper {
    margin: 0% 15% 0% 15%;
    display: block;
    background-color: whitesmoke;
    padding-top: 20px;
    min-height: 150vh;
    box-shadow: 6px 5px 11px rgba(0, 0, 0, 0.25),
        2px -3px 29px rgba(0, 0, 0, 0.22);
}

.container {
    display: flex;
}

h1,
h4,
h3 {
    font-family: 'Archivo Narrow', sans-serif;
}

h3 {
    cursor: pointer;
}

p,
li {
    font-family: 'Nunito', sans-serif;
}

img.my_photo {
    display: block;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 6px 5px 30px rgba(0, 0, 0, 0.25),
        21px 12px 33px rgba(0, 0, 0, 0.22);
}
.my_name {
    font-size: 35px;
    text-align: center;
    margin: 5px;
}
.short {
    color: rgb(90, 90, 90);
    text-align: center;
}

.container-aside {
    padding: 10px;
    border-right: 1px solid gray;
}

.container-main {
    padding: 10px;
}

ul {
    list-style: none;
    text-align: center;
    padding-left: 0px;
    color: rgb(55, 55, 55);
}

.container-aside p {
    margin: 0;
    text-align: center;
}

.container-aside h3 {
    text-align: center;
}

.skills progress,
.languages progress {
    width: 90%;
}

li {
    margin-bottom: 5px;
}

a {
    color: black;
}

.container-main h4 {
    margin-bottom: 5px;
}

.textGray {
    color: rgba(128, 128, 128, 0.822);
    margin: 0;
}

.phone:before {
    content: '\f095';
    font-family: FontAwesome;
    color: #000000;
    margin-left: 10px;
    margin-right: 5px;
}

.city:before {
    content: ' \f041';
    font-family: FontAwesome;
    color: #000000;
    margin-left: 10px;
    margin-right: 5px;
}

.profile h3:before {
    content: '\f007';
    font-family: FontAwesome;
    color: #000000;
    margin-right: 10px;
}
.employment h3:before {
    content: '\f0f2';
    font-family: FontAwesome;
    color: #000000;
    margin-right: 10px;
}
.education h3:before {
    content: '\f19d';
    font-family: FontAwesome;
    color: #000000;
    margin-right: 10px;
}
.courses h3::before {
    content: '\f091';
    font-family: FontAwesome;
    color: #000000;
    margin-right: 10px;
}

.main h4::before {
    content: '\f10c';
    font-family: FontAwesome;
    color: #000000;
    margin-right: 10px;
    font-size: 8px;
    position: relative;
    top: -3px;
}
.profile p:before {
    content: '\f10c';
    font-family: FontAwesome;
    color: #000000;
    margin-right: 10px;
    font-size: 8px;
    position: relative;
    top: -3px;
}
.my-works h3::before {
    content: '\f0f2';
    font-family: FontAwesome;
    color: #000000;
    margin-right: 10px;
}

.detals {
    min-height: 9em;
    transition: 2s ease-out;
    overflow: hidden;
    text-decoration: none;
}
h3 {
    position: relative;
    color: black;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}
.container h3:after {
    display: block;
    position: relative;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    content: '';
    transition: width 0.3s ease-out;
    top: 2px;
}
.container h3:hover:after,
.container h3:focus:after {
    width: 100%;
}
.links {
    min-height: 9em;
    transition: 2s ease-out;
    overflow: hidden;
}
.skills {
    min-height: 30em;
    transition: 2s ease-out;
    overflow: hidden;
}
.hobbies {
    min-height: 13em;
    transition: 2s ease-out;
    overflow: hidden;
}
.languages {
    min-height: 10em;
    transition: 2s ease-out;
    overflow: hidden;
}

.profile {
    min-height: 15em;
    transition: 2s ease-out;
    overflow: hidden;
}
.employment {
    min-height: 10em;
    transition: 2s ease-out;
    overflow: hidden;
}
.education {
    min-height: 10em;
    transition: 2s ease-out;
    overflow: hidden;
}

.courses {
    min-height: 15em;
    transition: 2s ease-out;
    overflow: hidden;
}
.my-works ul {
    text-align: start;
}
.my-works p {
    margin-bottom: 5px;
}

.hide {
    min-height: 3em;
    transition: 2s ease-out;
}

@media screen and (max-width: 900px) {
    .container-main {
        margin: 0px 20px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        display: block;
    }
    body {
        font-size: 20px;
    }
    .container .container-main * {
        min-height: max-content;
    }
}
